@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Medium.woff2') format('woff2'),
  url('../fonts/Cormorant/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

