//colors
$lightBlack: #757575;
$black: #212224;
$yellow: #A68E52;
$grey: #DDD;
$white: #FDFBFB;

//fonts
$cormorant: 'Cormorant', 'Arial', 'sans-serif';
$helveticaNeueCyr: 'HelveticaNeueCyr', 'Arial', 'sasns-serif';

//uttils
$smothy: all 0.4s;