.contacts {
  padding-top: 85px;
  position: relative;

  @include tablets {
    padding-top: 30px;
  }

  &__top {
    align-items: flex-start;
    display: flex;

    @media (max-width: 775px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-top: -14px;
    font-size: 55px;
    line-height: 53px;
    margin-right: 60px;
    margin-bottom: 47px;

    @include tablets {
      margin-right: 30px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 585px) {
      display: block;
    }
  }

  &__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1200px) {
      margin-bottom: 35px;
    }

    @include phones {
      margin-right: 0;
    }
  }

  &__heading {
    color: $lightBlack;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 510px) {
      display: block;
    }
  }

  &__text {
    margin-top: -5px;
    margin-bottom: 11px;
    font-family: $cormorant;
    font-size: 24px;
    line-height: 37px;
    margin-right: 17px;
    color: $black;

    @include phones {
      font-size: 20px;
      line-height: 35px;
    }

    &--correct {
      letter-spacing: 1.2px;
    }
  }

  &__working {
    margin-top: -7px;
    font-size: 9px;
    line-height: 23px;
    text-transform: uppercase;
    color: $lightBlack;
  }

  &__link {
    display: inline-block;
    vertical-align: top;;
    font-size: 11px;
    line-height: 24px;
    color: $yellow;
    border-bottom: 1px solid $yellow;
    transition: $smothy;

    &:hover {
      color: darken($yellow, 10%);
      border-color: darken($yellow, 15%);
    }
  }

  &__bottom {
    display: flex;

    @media (max-width: 1100px) {
      display: block;
      text-align: center;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
      text-align: center;
    }
    
    @include phones {
      text-align: center;
    }
  }

  &__msg {
    align-self: flex-start;
    display: inline-flex;
    margin-right: 97px;
    white-space: nowrap;

    @media (max-width: 1010px) {
      margin-right: 0;
    }

    @include phones {
      margin-right: 0;
    }
  }

  &__icon {
    svg {
      margin-right: 16px;
      width: 22px;
      height: 20px;
    }
  }
}