.slider {
  position: relative;
  background-color: #161B21;
  padding-top: 60px;

  .slick-dots {
    bottom: 0;
    margin-left: -5px;
  }

  .slick-arrow {
    bottom: 2px;
    left: 17%;
  }

  .slick-slide {
    margin-right: 41px;

    @include tablets {
      margin-right: 0;
    }
  }

  .slick-next {
    left: 27.4%;
  }

  &__wrap {
    display: flex;
    margin-bottom: 50px;

    @include phones {
      margin-bottom: 20px;
    }
  }

  &__content {
    max-width: 576px;
    display: flex;
    padding-bottom: 21px;

    @media (max-width: 1200px) {
      width: 569px;
    }

    @include tablets {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 14px;
  }

  &__desc {
    font-size: 11px;
    line-height: 20px;
    margin-right: 52px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    padding: 27px 14px 12px;
    margin-bottom: 50px;
    border: 1px solid $lightBlack;
    margin-right: 50px;

    @include laptop {
      margin-right: 0;
    }

    @include phones {
      margin-bottom: 25px;
    }

    &-top {
      padding-bottom: 15px;
      border-bottom: 1px solid $lightBlack;
    }

    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 14px;
    }
  }

  &__img {
    margin-right: 30px;

    svg {
      width: 42px;
      height: 41px;
    }
  }

  &__weight {
    font-size: 10px;
    line-height: 15px;
  }

  &__text {
    margin-left: 2px;
    font-size: 12px;
    line-height: 23px;
  }

  &__date {
    font-size: 10px;
    line-height: 13px;
    color: $lightBlack;
  }

  &__download {
    margin-top: 3px;
    margin-left: 2px;

    svg {
      width: 9.5px;
      height: 11px;
    }
  }
}