.view {
  position: relative;
  padding-top: 41px;
  background: url("../img/slider-bg.jpg") no-repeat center/cover;

  &__wrap-title {
    @include laptop {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 34px;
  }

  &__content {
    position: relative;
    z-index: 50;
    max-width: 710px;
    min-height: 575px;
    padding-bottom: 100px;
    background-color: $white;
    box-shadow: 0px 5px 60px rgba(55, 55, 55, 0.2);
    border-radius: 3px;
  }

  &__tabs {
    margin-bottom: 34px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;

    @include phones {
      padding-left: 0;
      margin-bottom: 20px;
      justify-content: space-between;
    }

    &-item {
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;

      @include tablets {
        width: 100%;
      }

      @include phones {
        margin-bottom: 15px;
        flex-direction: column;
      }

      &--active {
        .view__tab {
          background-color: $white;
          color: $yellow;
        }

        .view__sub-list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-right: 4px;

          @media (max-width: 550px) {
            margin-left: 10px;
            justify-content: flex-start;
          }

          .view__sub-item {
            @include tablets {
              margin-right: 20px;

              &:last-child {
                margin-right: 0;
              }
            }

            @include phones {
              margin-right: 15px;
            }
          }
        }

        @media (max-width: 1115px) {
          width: 100%;
        }
      }
    }
  }

  &__tab {
    display: inline-flex;
    white-space: nowrap;
    padding: 9px 18px;
    font-size: 8px;
    line-height: 14px;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    background-color: #f1f1f1;

    @media (max-width: 775px) {
      min-width: 90px;
    }

    @include phones {
      padding: 9px 15px;
    }
  }

  &__sub {
    &-list {
      margin-right: -8px;
      margin-left: 23px;
      align-items: flex-start;
      display: none;

      @include phones {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-item {
      margin-right: 20px;

      &--active {
        .view__sub-tab {
          color: $black;
          opacity: 1;
        }
      }
    }

    &-tab {
      font-size: 10px;
      line-height: 14px;
      color: $lightBlack;
      opacity: 0.7;
    }
  }

  &__inner-wrap {
    display: flex;
  }

  &__wrap {
    &-content {
      z-index: 10;
      position: relative;
      display: flex !important;
    }

    &-left {
      margin-left: 46px;
      width: 30.5%;
      margin-right: 60px;

      @media (max-width: 1100px) {
        margin-left: 30px;
        margin-right: 50px;
      }

      @include laptop {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-right {
      width: 55%;
      padding-right: 36px;
      @include laptop {
        width: 100%;
        padding-right: 0;
      }

      &-content {
        width: 100%;
        margin-right: 50px;
        margin-bottom: 26px;
        padding: 10px 36px 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.05);

        @include laptop {
          margin-right: 0;
        }

        @include phones {
          padding: 0;
        }
      }
    }

    &-top {
      display: flex;

      @include laptop {
        width: 100%;
        justify-content: center;
      }

      @include phones {
        width: 100%;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
      }

      &-left {
        position: relative;
        width: 226px;
        padding-right: 40px;
        margin-right: 24px;

        @include phones {
          width: 100%;
          padding-right: 0;

          &::after {
            display: none;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 90%;
          width: 1px;
          background-color: $grey;
        }
      }

      &-right {
        width: 170px;

        @include phones {
          width: 100%;
        }

        .view__wrap-info-value {
          width: 27%;

          @include phones {
            width: 40%;
          }
        }
      }
    }

    &-title {
      margin-bottom: 8px;
      font-family: $cormorant;
      font-size: 24px;
      line-height: 38px;
      color: $black;
      font-weight: 500;
    }

    &-info {
      margin-bottom: 3px;
      display: flex;

      &-text,
      &-value {
        width: 78%;
        font-size: 10px;
        line-height: 19px;
        color: $lightBlack;
        text-align: center;

        @include phones {
          width: 60%;
        }
      }

      &-value {
        width: 16%;
        margin-left: auto;
        color: $black;

        @include phones {
          width: 40%;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 36px;

      @include laptop {
        text-align: center;
        justify-content: center;
      }
    }

    &-text {
      margin-bottom: 17px;
      font-size: 11px;
      line-height: 19px;
    }

    &-bottom-content {
      width: 45%;
      margin-right: 22px;
      font-size: 14px;
      line-height: 24px;
      color: $lightBlack;

      @include phones {
        width: 60%;
      }
    }

    &-block {
      width: 45%;
      margin-left: 3px;
      font-size: 11px;
      line-height: 18px;
      color: #8a8a8a;

      @include phones {
        width: 40%;
      }
    }

    &-link {
      letter-spacing: 1px;
      color: #000;
    }
  }

  &__control {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -15px;
    align-items: center;
    justify-content: center;
    margin-left: 118px;

    @include laptop {
      margin-left: 0;
    }

    @media (max-width: 600px) {
      margin-left: 0;
    }

    &-arrow {
      margin-top: 16px;
      display: flex;

      .slick-arrow {
        margin-left: 20px;
        position: static;
        height: 7px;
        background-color: $lightBlack;
      }

      .slick-prev {
        transform: translateX(-9px);
      }

      .slick-next {
        transform: rotate(180deg) translateX(11px);
      }

      @include phones {
        display: none;
      }
    }

    .slick-dots {
      position: static;
      margin-right: 27px;
      order: -1;
    }
  }
}