.footer {
  position: absolute;
  min-height: 95px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  color: #B2AEAE;

  @media (max-width: 700px) {
    padding: 0;
    padding-bottom: 23px;
    position: static;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__contact {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    svg {
      width: 8px;
      height: 11px;
      margin-right: 15px;
    }
  }
  
  .location__item {
    text-transform: none;
  }
  &__logo {
    margin-top: -16px;
    img {
      width: 87px;
      height: 99px;
    }
  }

  &__social {
    margin-top: -16px;
    margin-left: 4px;
    margin-right: 61px;
  }

  &__languages {
    margin-top: -27px;
  }

  &__tel {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__copyright {
    margin-top: -18px;
  }

  &__item {
    margin-top: -25px;
    margin-right: 58px;
    @media (max-width: 600px) {
      margin: 0;
      margin-bottom: 25px;
    }
  }
}