.header {
  padding-top: 23px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 135px;

    @include phones {
      margin-right: 30px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    &-phone,
    .header__languages {
      margin-top: -6px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      width: 30px;
      height: 30px;
      border: 1px solid rgba($lightBlack, 0.4);
      border-radius: 50%;

      svg {
        width: 9.5px;
        height: 9.5px;
      }
    }

    &-info {
      margin-right: 50px;

      @include phones {
        margin-right: 20px;
      }
    }

    &-text {
      line-height: 16px;
      color: $yellow;
    }

    &-link {
      font-size: 10px;
      line-height: 20px;
      color: $grey;
    }
  }

  &__languages {
    color: $grey;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-left: 53px;
    padding-bottom: 23px;
    margin-top: auto;

    @include phones {
      margin-left: 0;
    }
  }

  &__location {
    margin-right: 90px;

    @include phones {
      margin-right: 20px;
    }
  }

  &__state {
    display: flex;
    align-items: center;
    &-name {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      font-size: 10px;
      line-height: 26px;
      text-transform: uppercase;
      color: $yellow;
      border: 1px solid $yellow;
      border-radius: 50%;
      font-weight: 700;
    }
  }
}