.location {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 66px;
    &:last-child {
      margin-right: 0;
    }

    @include laptop {
      margin-right: 30px;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba($grey, 0.7);
    letter-spacing: 0px;

    @include phones {
      font-size: 12px;
      line-height: 24px;
    }

    svg {
      width: 8px;
      height: 9px;
      margin-right: 15px;

      @include phones {
        margin-right: 10px;
      }
    }
  }

  &__tel {
    display: inline-block;
    vertical-align: top;
    color: inherit;
    font-size: 11px;
    letter-spacing: 0.1px;
    line-height: 24px;
    svg {
      margin-right: 7px;
      width: 12px;
      height: 12px;
      fill: transparent !important;
    }
  }
}