.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%) translateY(-50%);
  background-color: $white;

  @include tablets {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    background: url("../img/gallery-big-img.jpg") no-repeat center/cover;

    @media (max-width: 530px) {
      display: none;
    }
  }

  &__close {
    border: transparent;
    background-color: $white;
    position: absolute;
    right: 24px;
    top: 20px;
    width: 28px;
    height: 28px;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: $smothy;
    outline: none;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }

    &:before,
    &:after {
      position: absolute;
      top: 7px;
      content: ' ';
      height: 15px;
      width: 1px;
      background-color: #000;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

  }

  &__content {
    position: relative;
    z-index: 5;
    padding: 50px;
    width: 767px;
    border: 1px solid $yellow;

    @include tablets {
      width: 100%;
    }
  }

  &__form {
    margin-right: 50px;
    width: 50%;

    @include phones {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid $grey;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    outline: none;

    @include placeholder {
      color: $lightBlack;
    }
  }

  &__btn {
    margin-top: 30px;
  }
}