.promo {
  position: relative;
  margin-top: 117px;
  padding-bottom: 117px;
  display: flex;

  @include phones {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .slick-dots {
    margin-left: 48px;
    bottom: 16px;

    li {
      button {
        &::before {
          background-color: rgba($grey, 0.2);
        }
      }
    }

    li.slick-active {
      button {
        &::before {
          background-color: $lightBlack;
        }
      }
    }

    @include phones {
      margin-left: 50px;
    }
  }

  .slick-arrow {
    bottom: 18px;
    margin-left: 114px;

    @include phones {
      display: none !important;
    }
  }

  .slick-next {
    margin-left: 175px;
  }

  &__small-title {
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 27px;
    color: $yellow;
  }

  &__title {
    margin-bottom: 44px;
  }

  &__btn {
    font-size: 9px;
    line-height: 18px;
    padding: 7px 40px;
  }
}