.slick {
  &-dots {
    z-index: 50;
    position: absolute;
    display: flex;

    button {
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      font-size: 0;
      cursor: pointer;
      outline: none;

      &:hover {
        &::before {
          background-color: darken($yellow, 10%);
        }
      }

      &:active {
        &::before {
          background-color: darken($yellow, 15%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: $grey;
        border-radius: 50%;
      }
    }

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      @include phones {
        margin-right: 10px;
      }

      &.slick-active {
        button {
          &::before {
            background-color: $yellow;
          }
        }
      }
    }
  }

  &-arrow {
    z-index: 50;
    position: absolute;
    -webkit-mask: url("../img/arrow.svg") no-repeat center/cover;
    mask: url("../img/arrow.svg") no-repeat center/cover;
    background-color: $grey;
    width: 42px;
    height: 7px;
    border: none;
    cursor: pointer;
    font-size: 0;
    transition: $smothy;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &-next {
    transform: rotate(180deg);
  }
}